:root {
  font-size: 62.5%;
  --1pvw: 1vw;
  --gutter: 1.5rem;
  --br-default: 5px;
  --max-width: 120rem;
  --font-p: "Merriweather", serif;
  --font-s: "Open Sans", sans-serif;
}

:root:has(input#light:checked) {
  --color-p-1: #fff9e9;
  --color-p-2: #fff1cd;
  --color-p-3: #ffebb7;
  --color-p-4: #e6d4a5;
  --color-p-5: #ccbc92;
  --color-s-1: #b34d22;
  --color-s-2: #99421d;
  --color-s-3: #803719;
  --color-s-4: #662c14;
  --color-s-5: #4c210f;
  --color-t-1: #243763;
}

:root:has(input#dark:checked) {
  --color-p-1: #4c210f;
  --color-p-2: #662c14;
  --color-p-3: #803719;
  --color-p-4: #99421d;
  --color-p-5: #b34d22;
  --color-s-1: #ccbc92;
  --color-s-2: #e6d4a5;
  --color-s-3: #ffebb7;
  --color-s-4: #fff1cd;
  --color-s-5: #fff9e9;
  /* --color-p-1: #4c4637;
  --color-p-2: #665e49;
  --color-p-3: #80765c;
  --color-p-4: #998d6e;
  --color-p-5: #b3a580;
  --color-s-1: #cc5827;
  --color-s-2: #e6632c;
  --color-s-3: #ff6e31;
  --color-s-4: #ff7d46;
  --color-s-5: #ff8b5a; */
  --color-t-1: #243763;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

svg {
  stroke: currentColor;
  max-width: 100%;
  height: 100%;
  display: block;
}

button {
  border: none;
  background: none;
}
