.main__section {
  padding: 0 var(--gutter) 8rem;
  background-color: var(--color-p-1);
}

.main__section > div {
  flex-direction: column;
  gap: 5rem;
}

.main__section header p {
  color: var(--color-s-1);
  font-family: var(--font-s);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.main__section h1 {
  color: var(--color-s-5);
  font-family: var(--font-p);
  font-weight: 400;
  font-size: 8.2rem;
}

.main__section--list-posts {
  gap: 3rem;
}

.main__section ul:has(li:hover) li:not(:hover) {
  opacity: 0.8;
  transform: scale(0.98);
}

.main__section--list-posts li {
  color: var(--color-p-1);
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.main__section--post {
  border-radius: var(--br-default);
  overflow: hidden;
  max-width: 30rem;
  background-color: var(--color-p-3);
  box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.2);
}

.main__section--post-img {
  height: 15rem;
  background-color: var(--color-s-1);
}

.main__section--post-content {
  padding: var(--gutter);
}

.main__section--post-content h2 {
  font-family: var(--font-p);
  font-size: 1.8rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  color: var(--color-s-5);
}

.main__section--post-content p {
  font-family: var(--font-s);
  color: var(--color-s-3);
  font-size: 1.2rem;
}

.main__section--load-more {
  color: var(--color-s-5);
  align-self: flex-start;
  padding: 1rem;
  background-color: var(--color-p-5);
  cursor: pointer;
  font-size: 1.8rem;
  font-family: var(--font-s);
  gap: 1rem;
  border-radius: var(--br-default);
  margin: 0 auto;
}

.main__section svg {
  width: 2.5rem;
  height: 2.5rem;
  /* animation: show-loaded-more infinite 1s; */
}

@keyframes show-loaded-more {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main__section--post-question {
  position: absolute;
  top: 1rem;
  left: 1rem;
  transition: 0.3s;
}

.main__section--post-question:hover {
  color: var(--color-t-1);
  transform: scale(1.15);
}
